@import '../../atoms/variables.scss';
.featured{
    justify-content: center;
    display:flex;
    height: max-content;
    flex-direction:row;
    flex-wrap: wrap;
    &.-reverse{
        flex-direction:row-reverse;
    }
    &.-horizontal{
        flex-direction:row;
        &.-reverse{
            flex-direction:row-reverse;
        }
    }
    &Item{
        max-width: 500px;
        min-width: 300px;
        padding:6px;
        margin: 0 12px;
    color: black;
    background: #ffffff91;
    text-align: center;
        flex-grow: 1;
        flex-basis: 10px;
        border-radius: 5px;
        box-shadow: 2px 3px 5px #0000007a;
        @media only screen and (max-width: 480px) {
            margin: 24px 0;
          }
        &__image{
            width:100%;
            height:225px;
            background-position: center;
            background-size:cover;
        }
        &__body{
            height: 100%;
    justify-content: space-between;
            display: flex;
            flex-direction: column;
        }
        &__content{
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >span{
                flex-grow: 1;
                padding: 12px;
                background: white;
            }
        }
        &__title{
            padding: 12px;
            background: $blue;
        }
    }

&:first-child{
    margin-left:0;
}
&:last-child{
    margin-right:0;
}
    
}