@import '../../atoms/variables.scss';
.featured{
    display:flex;
    height: max-content;
    flex-direction:column;
    &.-reverse{
        flex-direction:column-reverse;
    }
    &.-horizontal{
        flex-direction:row;
        &.-reverse{
            flex-direction:row-reverse;
        }
    }
    &Item{
        padding:$space-xs;
        margin: 0 $space-s $space-m $space-s;
        color: black;
        background: rgb(231, 227, 214);
        flex-grow: 1;
        flex-basis: 50%;
        border-radius: 5px;
        box-shadow: 2px 3px 5px #0000007a;
        &__image{
            width:100%;
            height:200px;
            background-size:cover;
        }
        &__content{
            
        
        }
        &__title{
        
        }
    }

&:first-child{
    margin-left:0;
}
&:last-child{
    margin-right:0;
}
    
}