@import '../components/atoms/variables.scss';
%section{
    margin: $space-m 0;
    //padding:12px;
    background: $blue;
    border-radius: 5px;
    box-shadow: 2px 1px 2px #0000008a;
}
.t-wideBox{
    @extend %section;
    margin: 0;
   // width: max-content;
    //margin: $space-m auto;
}
.t-section{
    @extend %section;
    &.-withSidebar{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &.-transparent{
        background-color: unset;
        box-shadow: none;
        padding: 0;
    }
    &:first-child{
        margin-top:0;
        padding-top:0;
    }
    &__sidebar{
        
        min-width: 300px;
        flex-basis:300px;
        flex-grow: 1;
    }
    &__content{
        min-width: 600px;
        flex-basis:600px;
        flex-grow: 1;
    }
}