@import '../../atoms/variables.scss';
@import '../../atoms/headings.scss';
/* .MuiTab-textColorSecondary {
  color: rgba(255, 255, 255, 0.54) !important;
} */
.MuiFormLabel-root.Mui-focused{
color:$gold !important;

}
.MuiTab-fullWidth {
  min-width: max-content !important; //shame
}
.MuiTab-wrapper {
  white-space: nowrap;
}


//base
html{
  overflow-y: hidden;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
hr{
  height: 1px;
    background: #ffffff80;
    margin: 24px 0;
}
hr.dark{
    background: #00000080;
    margin: 24px 0;
}
// p{
//   margin: 0;
//   padding:0;
// }

// return <div className={"t-main" + (sidebar?" -withSidebar":"")}>
//   {sidebar?<div className = "t-main__sidebar">{sidebar}</div>:""}
//   <div className = "t-main__content">{children}</div>

.t-mainContent{
  font-size: $typography__size--normal;
  
  
  background:$tan;
  z-index: 0;
  //background:'#cfb77b',
  &.-inverseColors{
    background:$blue;
  }
}
.t-main{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  &.-withSidebar{
    max-width: 1800px;
    display:flex;
    flex-direction:row;
  }
  &.-withMargin{
    background: $blue;
    max-width: 100%;
    .t-main__content{
        max-width: 1200px;
        margin: auto;
        background: $tan;
        padding: 24px;
        padding-top: 0;
    }

  }
  &__sidebar{
    background:$blue;
    min-width: 300px;
  }
  &__content{
   
    flex-grow: 1;
    &.-inverseColors{
      background:$tan;
    }
  }
}

// main{
// position: relative;
// }
.top{
  background: blue;
}
.page{
  background:$tan;
}

.parallax{
      display:flex;
      flex-direction:column;
      min-height:100vh;
      perspective:1px;
      height:100vh;
      overflow:scroll;}
.content{
  width: 700px;
  margin:auto;
position: relative;
}
//paralax
.n2{
}
.fiddlersGreenTitle{
  width: 100%;
  position: absolute;
  text-align: center;
  display: block;
  font-size: 54px;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffdc5e;
  font-size: 8vh;
  text-shadow: 2px 2px 1px #00000099;
  z-index: 2;
}
.p__holder{
  z-index: 1;

  width: 100%;
  position: relative;
background: $blue;
}
.pi1{
  height:60px;
  width:100%;
  background-size: 30%;
}
.p1{
  background: #1a1506;
    margin-top: -100px;
    /* position: absolute; */
    width: 80%;
    margin: auto;
}
.p2{
  width: 80%;
  height:90vh;
  position: relative;
  top: -180;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin:auto;
  div{
    width: 100%;
    height: 100%;


  -webkit-transform: translateZ(-1px) scale(2.2);
  transform: translateZ(-1px) scale(2.2);
  background-size: contain;
  z-index: -1;
  background-color: #b38d08;
  background-blend-mode: luminosity;
  background-position-x: center;
  background-repeat: no-repeat;
   background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/buffalo-soldiers-keri-beilman.jpg');

  }
}
.importantLink{
  color:$gold;
  text-decoration:underline;
}
.bigButton{
  margin: 24px;
  padding:20px;
  font-size: 20px;
  background: $gold;
}
.callToAction{
  border-radius:15px;
  max-width: 915px;
    background: #0a2f55;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
  &__content{
    background: #082746;
    width: 100%;
    text-align: right;
    padding: 20px;
    top: 0;
    left: 0;
    flex-grow: 1;
    flex-basis: 50%;
  }
  &__button{
    max-width: 642px;
    /* flex-basis: 50%; */
    font-weight: bolder;
    border: 2px solid #ffe99a;
    border-style: outset;
    border-radius:0 15px 15px 0;
    color: white;
    width: -webkit-max-content;
    width: max-content;
  }
}
.poem{
  height: 100vh;

  p{
  text-align: center;
    overflow: hidden;
    padding: 30px;
    margin: 0;
    /* font-weight: bolder; */
    /* padding: 0; */
    font-family: roboto;
    /* line-height: 1.5; */
    border-radius: 10px;
    background: #0a2f55d9;
    width: -webkit-max-content;
    width: 400px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 0 18px 0px black;
    text-shadow: 1px 1px 0px #b38d08;
  }
}
/* atoms */
.a-listItem{
  padding:5px;
  text-decoration: underline;
}

/* footer */
.o-footer{
  background:$blue;
  z-index: 1;
  position:relative;
}
.o-footer__bar{
  width: 100%;
  color:$blue;
  height:32px;
border-top: 16px solid $blue;
  background:$gold;
}
.o-footer__content{
  color:#ffffff99;
  padding:20px;
  display:flex;
  flex-direction:row;
}
.o-footer__boxes{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
    height: min-content;
    flex-shrink: 2;
    flex-grow: 1;
    display: flex;
}
.footerBox{    
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column-reverse;
}
.m-siteMap{
  flex-grow:1; 
      text-align: center;
    display: flex;
    padding: 20px;
    width: min-content;
  margin:0;
}
.m-siteMap__group {
  flex-grow:1; 
    text-align: left;
    padding: 20px;
    &:not(:first-child){
      border-left: 1px solid #ffffff55;
    }
}
.m-siteMap__groupName {
  display: block;
  /* margin: 90px; */
  font-size: 22px;
  margin-bottom: 20px;
}
.m-siteMap__grouplist.a-list {
    margin: 0;
}
.m-siteMap__listItem.a-listItem {
  list-style: none;
    width: max-content;
    padding:0;
    margin:0;

}


/* //homepage */
.presidentsPen{
  font-size: $typography__size--small;
  
  margin:auto;
}
.content_title{
  padding: 12px;
    background: #0a2f55;
    border-bottom: 2px solid #caa110;
    /* text-align: center; */
    z-index: 1;

    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.658);
    border-width: 1.5px;
    /* border-radius: 5px; */
    margin: 0;
}
.content_body{
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-top: none;
  border-right: none;
  background:#e9e6da;
  span{
    padding: 12px;
    flex-grow: 1;
  }
}
.media--large{
  box-shadow: 2px 2px 2px #0000008a;
    border-top-left-radius: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  display:flex;
  background: $transparentWhite;
  flex-direction: row-reverse;
align-items: stretch;
overflow: hidden;


}
.media__content{

  color:black;
  max-width: 550px;
  min-width: 300px;
flex-grow: 1;
flex-basis:33%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}
.media__image{
  padding: 12px;
  padding-left: 0;
  height: unset;
  max-width: 750px;
flex-grow: 2;
flex-basis:66%;
}
.logo{
  box-shadow: 2px 2px 4px black;
    border: 2px solid #f7c10c;
    background: #0a2f55;
    border-radius: 100px;
}
.bg1{
  height:100%;
  width: 100%;
}
img{
  margin: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
// hr {
//   margin-left: 0;
//   margin-right: 0;
//   margin-top: 0;
//   padding-bottom: 0;
//   padding-left: 0;
//   padding-right: 0;
//   padding-top: 0;
//   margin-bottom: calc(1.45rem - 1px);
//   background: hsla(0, 0%, 0%, 0.2);
//   border: none;
//   
// }
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
