.o-fiddlersGreen__form{
  flex-wrap: wrap;
    padding:12px;
    background:#262265;
    .MuiTextField-root{
        width: 100% !important;
    }
    table{
        tr{
            display: flex;
            align-items: flex-end;
            padding: 4px 0;
        }
        td{
flex-grow:1;
            &.label{
                flex-grow:0;

            }
        }
    }
    >div{
        min-width: 400px;
        flex-basis: 10px;
        flex-grow:1;
        @media only screen and (max-width: 480px) {
            min-width: 300px;

        }
    }
    .react-parallax{
        color:#ffffffb8;
    }
    .stanza{
        font-weight: 100;
    text-align: center;
    color: white;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-weight:100;

    }
    }
    form{
        background:#ffffffb8;
        padding:12px;
        margin-left:12px;
        textInput{
            display:flex;
        }
    }
    h1{
        color:#ffffffb8;
    }
}
.poem{
    display: flex;
    flex-basis: 10px;
    flex-direction: column;
    justify-content: center;
      font-family: sans-serif;
}
.poemContainer{
    // margin-top: 24px;
    margin-bottom: 16px;
    >div{
        @media only screen and (max-width: 480px) {
            min-width: 300px !important;

        }
    }
}